@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-[#0d1117];
}

:root {
  --radius: 0.5rem;
}

.t {
  @apply py-[5px] shadow-[0px_0px_7px] bg-zinc-50 dark:bg-eight shadow-cyan-100 dark:shadow-gray-900 rounded-lg text-[14px] text-center flex gap-1 font-semibold justify-center items-center  md:hover:scale-125 capitalize truncate;
}

:is(.dark .bn) {
  box-shadow: 5px 5px 0px 0px white, -5px -5px 0px 0px rgba(71, 85, 105, 0.8),
    8px 8px 15px rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  position: relative;
}

:is(.dark .bn:hover) {
  box-shadow: 3px 3px 0px 0px white, -3px -3px 0px 0px rgba(71, 85, 105, 0.8),
    4px 4px 10px rgba(255, 255, 255, 0.1);
}

:is(.dark .bn:active) {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.bn {
  box-shadow: 5px 5px 0px 0px black, -5px -5px 0px 0px rgba(193, 218, 229, 0.8),
    8px 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.15s ease-in;
  border: 1px solid black;
}

.bn:hover {
  transform: translate(1px, 1px);
  box-shadow: 3px 3px 0px 0px black, -3px -3px 0px 0px rgba(193, 218, 229, 0.8),
    4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in;
}

.bn:active {
  transform: translate(5px, 5px);
  box-shadow: none;
  transition: all 0.15s ease-in;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background: #c1d5f8;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: hsl(240, 13%, 25%);
}
.cool {
  @apply hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out;
}




