  @tailwind base;
  @tailwind components;
  @tailwind utilities;
 
  body{
    @apply bg-black text-white
  }

  .beca{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style:normal;
  }
  .anton{
   font-weight: 900;  
   font-family:Arial, Helvetica, sans-serif;
   font-style: normal;

}
  

  .chapter{
    @apply wdd  md:w-1/2 lg:w-1/3 xl:w-[390px] m-auto  mt-5 py-[9.6px] lg:py-[11px] px-0 text-[17px] lg:text-[18px] font-sans italic
    rounded-md text-cyan-200 hover:bg-cyan-100 bg-gradient-to-r from-gray-950 via-gray-900 to-gray-950
    font-bold hover:ring-yellow-800 hover:tracking-wider transition-all ease-in-out duration-150
 ring-1 ring-gray-700
  }
  .wdd{
    width: 79%;
  }
 
  .tag{
    @apply bg-[#cfc64c] rounded-lg px-1 ring-1 shadow-inner  font-extrabold py-1 text-black hover:bg-[#cdb155]
  }
  .tag2{
    @apply bg-[#acd057] hover:bg-[#bbe754] text-black rounded-lg font-extrabold  px-2 py-1 

  }
  .tag3{
    @apply bg-purple-950 hover:bg-blue-950 text-white font-extrabold rounded-lg px-2 py-1
  }
  .tag4{
    @apply bg-[#86003C] hover:bg-[#86003cc0]  rounded-lg p-1 font-extrabold text-white px-2 py-1
  }
  
.wd{
  width: 98%;
}

.ex{
  text-shadow: 0 0 5px rgba(90, 255, 2, 0.69);
}

@keyframes border-color-change {
  0% {
    border-color: rgb(255, 26, 87) rgb(196, 206, 59) rgb(255, 0, 0) rgb(131, 131, 7);
  }
  25% {
    border-color: rgb(106, 91, 44) rgb(249, 2, 249) rgb(216, 97, 115) rgba(255, 192, 203, 0.599);
  }
  50% {
    border-color: purple rgb(104, 40, 255) pink orange;
  }
  75% {
    border-color: rgb(155, 155, 46) pink orange rgb(255, 3, 255);
  }
  100% {
    border-color: pink orange rgb(144, 227, 9) rgba(174, 7, 35, 0.941);
  }
}

.border-animation {
  animation: border-color-change 2s linear alternate infinite;
}