  @tailwind base;
  @tailwind components;
  @tailwind utilities;
 
  body{
    @apply bg-black text-cyan-100
  }

  .anton{
   font-weight: 900;  
   font-family:Arial, Helvetica, sans-serif;
   font-style: normal;

}
.tut{
  font-family: 'Courier New', Courier, monospace;
}

  .chapter{
    @apply wddd  md:w-1/2 lg:w-1/3 xl:w-[390px] m-auto  mt-5 py-[9.6px] lg:py-[11px] px-0 text-[17px] lg:text-[18px] font-sans italic
    rounded-md text-cyan-200 hover:bg-cyan-100 bg-gradient-to-r from-gray-950 via-gray-900 to-gray-950
    font-bold hover:ring-pink-900 hover:ring-1 hover:scale-110 transition-all ease-in duration-150
 ring-[.7px] ring-gray-800
  }

  .wddd{
    width: 79%;
  }
 
  .tag{
    @apply bg-pink-400 rounded-lg px-2 shadow-inner  font-extrabold py-1 text-black
  }
  .tag2{
    @apply bg-purple-950  text-white font-extrabold rounded-lg px-2 py-1
  }
  .tag3{
    @apply bg-gray-800   rounded-lg font-extrabold text-white px-2 py-1
  }
  .tag4{
    @apply bg-yellow-500  text-black rounded-lg font-extrabold  px-2 py-1 

  }
 
.log{
  box-shadow: 1px 1px 15px 1px rgb(199, 3, 127),
              5px 0px 25px 1px rgba(235, 94, 181, 0.83);
}
  
.wd{
  width: 98%;
}

.wdd{
  width: 95%;
}

.shad{
  text-shadow: 1px 1px 0 rgb(0, 85, 255);
}